body{
    background-color: #4F0B05;
    background-image: url(imagens/vivara-background11.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}


header{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}


.vivara-logo{
    text-align: center;
    width: 300px;
    height: 100px;
}


form{
    margin-top: 40px;
}

.container-login{
    margin-left: 150px ;
    display: block;
    border-style: solid;
    width: 300px;
    border-radius: 20px;
    height: 370px;
    background-color: #F8F8F8;
    box-shadow: -1px 2px 10px black;


}

.vivara-logo2{
    text-align: center;
    width: 300px;
    height: 70px;
    margin-top: 40px;


}

.vivara-logo2>img{
}

.login{
    margin: auto;
    margin-top: 20px;
    width: 200px;
    
}

.login>input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-senha{
    margin: auto;
    width: 200px;
    margin-top: 25px;
}


.login-senha>input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}


.entrar{
    text-align: center;
    margin-top: 20px;
    
}

.entrar>button{
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    background-color: #FFA687;
}

.entrar>button:hover{
    background-color: white;
    cursor: pointer;
}


label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer{
    background-color: rgba(0, 0, 0, 0.10);
    font-family: Arial, Helvetica, sans-serif;
    max-height: 300px;
    display: flex;
}


.site-vivara{
    margin: 0 auto;
    color: white;

}

.redes-sociais-footer{
    margin: 0 auto;
    color: white;

}